<% if current_user.already_liked?(post) %>
  <%= button_to post_like_path(post, post.id), method: :delete, remote: true do %>
    <span class="icon has-text-danger"><i class="fas fa-2x fa-heart"></i></span>
  <% end %>
<% else %>
  <%= button_to post_likes_path(post), method: :post, remote: true do %>
    <i class="far fa-2x fa-heart"></i>
  <% end %>
<% end %>
<div class="like_font"><%= post.likes.count %></div>