/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image {
  border-radius: 50%;
}

.main-image {
	height: 940px;
	background-image: url(backimage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main-icon {
	width: 30%;
  text-align: center;
}

.title.is-4 {
	font-size: 1.1rem;
}

.footer {
	background-color: #49C774;
}

.media {
	margin: 20px 0 0 10px;
}

.display-flex {
	display: flex;
}

.comments_index {
	overflow: scroll;
	height: 20em;
	margin: 10px 0 20px 0;
}

.like_font {
	text-align: center;
	width: 30px;
	line-height: 30px;
}